
@{
    ViewData["Title"] = "Following Ranking";
}

@model List<RankItem>

    <div>
        <div>
            <div class="row">
                <a class="page-link" href="/ranking/star?type=user">Star</a>
                <a class="page-link" href="/ranking/fork?type=user">Fork</a>
                <a class="page-link" href="/ranking/repo_count?type=user">RepositoryCount</a>
                <a class="page-link" href="/ranking/follower?type=user">Follower</a>
                <a class="page-link" href="/ranking/following?type=user">Following</a>
            </div>
        </div>
        <h1>GitHub Following Ranking</h1>
        <div>
            <h2>Most following user</h2>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Name</th>
                        <th>Following</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < 100 && i < Model.Count; i++)
                    {
                        var rankItem = Model[i];
                        <tr>
                            <td>@Html.DisplayFor(e => rankItem.Rank)</td>
                            <td>
                                <a href="@rankItem.Reference" style="text-decoration: none">
                                    <img class="avatar_image" src="@rankItem.AvatarUrl" />
                                </a>
                                <a href="@rankItem.Reference">@rankItem.Name</a>
                            </td>
                            <td>@Html.DisplayFor(e => rankItem.Score)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
