
@{
    ViewData["Title"] = "License Statistics";
}

@model List<LicenseModel>

<div>
    <div>
        <div class="row">
            <a class="page-link" href="/statistics/language">Language</a>
            <a class="page-link" href="/statistics/license">License</a>
        </div>
    </div>
    <h1>GitHub License Statistics</h1>
    <div>
        <h2>Top @Model.Count License</h2>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Ratio</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < 100 && i < Model.Count; i++)
                {
                    var license = Model[i];
                    <tr>
                        <td>@Html.DisplayFor(e => license.Rank)</td>
                        <td>@Html.DisplayFor(e => license.Name)</td>
                        <td>@Html.DisplayFor(e => license.Score)</td>
                        <td>@Html.DisplayFor(e => license.Ratio)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
